<div class="form group">
  <%= form_for([product, @review]) do |form| %>
    <% if @review.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% reviews.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <dl class="dl-horizontal">
    <div class="field">
      <dt><%= form.label :description %></dt>
      <dd><%= form.text_area :description, size: "20x4" %></dd>
    </div>

    <div class="field">
      <dt><%= form.label :rating %></dt>
      <dd><%= form.select :rating, options_for_select([5, 4, 3, 2, 1]) %></dd>
    </div>

    <div class="actions">
      <dd><%= form.submit %><dd>
    </div>
  <% end %>
  </dl>
</div>
